@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Noto+Sans+JP:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Noto Sans JP', sans-serif;
text-transform: capitalize;
}
.container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 40px;
  /* background-color: rgb(243, 243, 243); */
}
.card{
  width: 180px;
  height: 150px;
  margin: 10px auto;
  font-size: 1rem;
  font-weight: 200;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* border: 2px solid rgb(57, 10, 228); */
  /* box-shadow: 10px 1px 8px 1px #7e7878; */
  transition: all ease 0.5s;
  box-shadow: 1px 5px 5px 2px rgb(0 0 0 / 50%);
  color: rgb(4, 45, 107);
  font-weight: 1000;
  border-radius: 10px;
  /* backdrop-filter: blur(15px); */
}
@keyframes shine {
  0% {
    background-position: right;    
  }
  /*100% {
    background-position: left; it's the default value, no need to define it
  }*/
}

.card:hover{
  cursor: pointer;
  transform: scale(1.05,1.05);
  box-shadow: 10px 1px 8px 1px #7e7878;
   background-color: #f7f7f7;
   animation: shine 2s infinite;
  background: 
    linear-gradient(120deg,rgba(231, 114, 4, 0.432) 33%,rgba(255, 255, 255, 0.3) 50%,rgba(19, 221, 12, 0.39) 66%)
    rgb(255, 255, 255);
    background-size:300% 100%;
}
.card h2{
  margin-top: 10px;
  width: 100%;
  font-weight: 800;
}
.card p{
  margin-bottom: 10px;
  width: 100%;
}
.header{
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1rem;
  border-bottom: 2px solid rgba(200,200,200,0.5);
  box-shadow: 10px 1px 8px 1px #998e8e;
  width: 100%;
  height: 4rem;
  justify-content: center;
  height: auto;
}
.header_text{
  color: rgb(0, 0, 0);
  text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
}
img{
  width: 40px;
  height: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width:900px;
  border: none;
  box-shadow: 0px 0px 9px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
  font-weight: 600;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
  position: relative;
}
th:not(:first-child):hover{
  background-color: rgb(53, 141, 141);
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:not(:first-child):hover {
  /* opacity: 0.5; */
  color: rgb(38, 206, 108);
}
.table_head{
  background-color: rgb(45, 202, 123);
  color: white;
}
.table_container{
  display: flex;
  justify-content: center;
  margin: 50px auto;
  padding: 10px auto;
  overflow: scroll;
}
.live{
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}


.live_icon {
  margin-right: 10px;
  margin-top: 1.5em;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  animation: redPulse 2s infinite;
}
.heading{
  /* background-color: plum; */
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
}
footer{
  display: flex;
  background-color: rgb(253, 255, 255);
  width: 100%;
  justify-content: center;
}
.last{
  font-size: 1rem;
}
@media  screen and (max-width: 650px) {
  .table_container{
  width: 100%;
  font-size: 0.5rem;
  overflow: scroll;
  margin: 0;
  padding: 0;
  }
  .card{
    font-size: 0.6rem;
  }
  .header{
    font-size: 0.7rem;
  }
  table{
    overflow: scroll;
    width: 100%;
  }
  table th,table td{
    font-size: 0.5rem;
  }
 }
 /* node node_modules/gh-pages/bin/gh-pages-clean */
 /* git add . */
 /* git commit -m "message" */
 /* git push -f  */